<section class="bannerContainer">
  <img src="../../../../assets/images/banner.jpg" class="bannerImage" />
  <div class="overlay"></div>
  <div class="contentsContainer">
    <span class="mainTitle">Unsplash</span>
    <span class="descriptionTxt">The internet’s source for visuals.<br>
      Powered by creators everywhere.</span>
    <div class="searchInputContainer">
      <img
        class="searchContainerIcons"
        src="../../../../assets/icons/search-icon.png"
      />
      <input class="searchInput" placeholder="Seacrh Images" />
      <img
        class="searchContainerIcons"
        src="../../../../assets/icons/capture-icon.png"
      />
    </div>
    <span class="trendingText">Trending: Men's Fashion, Women's Fashion</span>
  </div>
</section>
