<header class="container">
  <!-- Logo Icon -->
  <nav class="nav">
    <img
      class="logoIcon"
      src="../../../../assets/icons/unsplash-icon.png"
      alt=""
    />
    <!-- Seacrh Input -->
    <div class="searchContainer">
      <img class="headerIcons" src="../../../../assets/icons/search-icon.png" />
      <input class="searchInput" placeholder="Seacrh Images" />
      <img
        class="headerIcons"
        src="../../../../assets/icons/capture-icon.png"
      />
    </div>
    <!-- Header Options -->
    <a class="headerOptions" href="#">Explore</a>
    <a class="headerOptions" href="#">Advertise</a>
    <a class="headerOptions" href="#">Unsplash +</a>
    <a class="headerOptions" href="#">Log in</a>
    <img class="headerIcons" src="../../../../assets/icons/menu-icon.png" />
  </nav>
</header>
