.imagesWrapper {
  @apply grid 
    gap-6
    grid-cols-3
    mt-5
    md:px-8
    lg:px-16;
}


.highlightContainer {
  @apply font-bold 
    text-center 
    mt-5
    text-sm
    md:text-base
    lg:text-2xl;
}
